{% extends "generic/window.html.twig" %}
{% use "search/bar.html.twig" %}

{% block page_title %}Settings{% endblock %}

{% set plugin_list = list_plugin_configs() %}
{% set target_plugin = app.request.query.get('p', plugin_list[0]) %}

{% macro config_header(config, use_margin = true) %}
    {% set desc = config.hasdescription() %}
    {% set docs = config.hasdocumentation() %}
    {% if desc or docs %}
        <div class="compact{% if use_margin %} top-margin-8{% endif %}">
            {% if desc %}
                <p class="no-margin">{{ config.description|nl2br }}</p>
            {% endif %}
            {% if docs %}
                <p class="no-margin italic">
                    <a class="action-color underline-on" href="{{ config.documentation }}" target="_blank">
                        {% if config.hasdoc_text() %}
                            {{ config.doc_text }}
                        {% else %}
                            See more.
                        {% endif %}
                    </a>
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro config_group(array, parent, is_parent_file = true) %}
    {% for key, item in array %}
        {% if item is config and not item.value is mapping %}
            <fieldset class="no-border compact no-padding">
                <div class="horizontal-flex between">
                    <h3 id="{{ key }}" class="no-margin big medium">{{ item.name }}</h3>
                    {% if item.possible_values|length > 0 %}
                        <select name="{{ parent ~ (is_parent_file ? ':' : '.') ~ key }}">
                            {% for name, option in item.possible_values %}
                                <option value="{{ name }}"{% if option == item.value %} selected{% endif %}>{{ option }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input  name="{{ parent ~ (is_parent_file ? ':' : '.') ~ key }}"
                                type="{{ to_input_type(item.type) }}"
                                {% if item.type == 'boolean' %}{% if item.value %}checked{% endif %}{%
                                else %}value="{{ item.value }}"{% endif %}
                        >
                    {% endif %}
                </div>
                {{ _self.config_header(item) }}
            </fieldset>
        {% else %}
            <div class="vertical-flex-16 line-crossed-section big left-padding-12 bottom-margin-8">
                {% if item is config %}
                    <h2 id="{{ key }}" class="section-title x-offset-20 no-margin">{{ item.name|upper }}</h2>
                    {{ _self.config_header(item, false) }}
                    {{ _self.config_group(item.value, parent ~ (is_parent_file ? ':' : '.') ~ key, false) }}
                {% else %}
                    <h2 id="{{ key }}" class="section-title x-offset-20 no-margin">{{ key|replace({ '-': ' ' })|upper }}</h2>
                    {{ _self.config_group(item, parent ~ '.' ~ key) }}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block left_panel %}
    <div class="vertical-flex align-center width-240 inline-padding-24 bottom-padding-24 gap-4 auto-scroll">
        {% for plugin in plugin_list %}
            <a class="tab widget to-center fill-width
                    tint-on-hover outline-on-focus bookmark-on-active bold-on-active
                    {% if plugin == target_plugin %} active{% endif %}" href="?p={{ plugin }}">
                {{ plugin|capitalize }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block window_content %}
    <div class="vertical-flex-16 fill auto-scroll max-width-600 inline-padding-12">
        {{ _self.config_group(plugin_config(target_plugin), target_plugin) }}
    </div>

    {# <button id="debug-button" style="position: fixed;">Submit</button>
    <script src="/scripts/plugins/settings.js"></script> #}
{% endblock %}